// Variaveis de Cores

    $primary:               #3C5A72;
    $secondary:             #517490;
    $theme3:                #213242;
    $theme4:                #ebb000;
    $theme5:                #E1C888;
    $emphasis:              #171717; 
    $emphasis_background:   #97B3D0;
    $background:            #d4dcdd;
    $hover_background:      #c3d5e8;
    $white:                 #FFFFFF;

    $gray: #7a7a7a; 
    $cancel: #DD1C1A;

    $gray2: #a4b1ba; 


    /*
        //#E37714;
        //#F38C23;
        //#FFC80B;
        //#213242;//
        //#b1b199;
        //#DDDDBB;
    */

    //#E1E9EA