
<button id="config" class="button">
    <%- icons.config %> 
</button>


<div id="container" >
    
    <div id="title">
        Sistema de Gestão do Almoxarifado
    </div>

    <div id="options">

        <div id="case">
            <button id="requisição" class="button"> 
                Nova <br> Requsição
                <br>

                <p>Click aqui para requisitar um item do Almoxarifado 
                </p>
            </button>
        </div>

        <div id="case">
            <div id="casePesquisa">
                <button id="pesquisa" class="button" >
                    Pesquisar <br> Iten
                </button>
            </div>
            <div id="caseLogin">
                <button id="login" class="button" >
                    Login
                </button>
            </div>
        </div>

    </div>

</div>
