
<%dados.forEach(iten=>{%>
        
    <div id="iten" <%-iten.func%>>
        <div id="nome"> <%-iten.nome%> </div>
        <div id="endereco"><%-iten.endereco%></div>
        <div id="quant"><%-iten.quant%></div>
    </div>

<%})%>