<div id="case">

    <div id="form">

        <div id="row">

            <label for="matricula" class="label" >Matrícula:</label>
            <input type="text" id="matricula">

            <label for="tag" class="label" >Tag:</label>
            <input type="text" id="tag">

        </div>
        
    </div>

    <div id="itens">
        
    </div>
    
</div>