:root{
    --primary: #07A0C3;
    --secondary: #086788;
    
    --alert: #F0C808;
    --opacit: #FFF1D0;
    
    --success: #088839;
    --cancel: #DD1C1A;

    --gray: #2f3241;
    --side-bar: #44485a;
    --gray2: #9c9c9c;

    --background: rgb(211, 211, 211);
    
}