 // Estilização da Tela de Login

    @use '../../../../style/sass/mixins' as mix;
    @use '../../../../style/sass/colors' as cor;

    #case{
        @include mix.flex-center;
        flex-direction: column;
        width: 400px;
        height: 350px;
        justify-content: center;
        background-color: cor.$login-background;
        border-radius: 15px;
        color: white;

        div{ 
            @include mix.flex-center;
            width: 100%;
            
            @mixin input-login{
                all: unset;
                border: 2.5px solid cor.$primary;
                border-radius: 20px;
                padding: .4rem;
                text-indent: .2rem;
                font-size: 14pt;
                transition: .4s;
                width: 70%;                  
                color: white;

                &::-webkit-input-placeholder{
                    color: cor.$gray2;
                }

                &:focus{
                    border-color: cor.$login-secondary;
                    width: 80%;    
                }
            }

            #input{
                &-senha{@include input-login;}
                &-user{@include input-login;}
            }

        };

        &-logo{height: 30%;}
        &-user, &-senha{height: 17.5%;}
        &-options{height: 10%;}
        &-button{height: 25%;}

        &-button{
            align-items: flex-end;
            button{
                @include mix.button-class;
                width: 100px;
                height: 30px;
                font-weight: bold;
                font-size: 12pt;
                background-color: cor.$login-success;
                color: white;
            }
        }

    }