 <div id="case">

    <div id="case-header">
        <div>Login</div>
    </div>

    <div id="case-msg">
        <p id="login-alert"></p>
    </div>

    <div id="case-user">
        <input type="text" id="input-user" placeholder="Usuário">
    </div>

    <div id="case-senha">
        <input type="password" id="input-senha" placeholder="Senha">
    </div> 

    <div id="case-options"> 
        <div>
            <label for="checkbox" id="passView">
                <input type="checkbox" name="view" id="checkbox">
                <div><%- icons.check %></div>
            </label><label for="checkbox">Mostrar Senha</label>
        </div>
    </div>

    <div id="case-button">
        <button id="btLogin">Login</button>
    </div>

 </div>