 <div id="case">

    <div id="case-user">
        <label id="label-user" for="input-user">Usuário:</label>
        <input type="text" id="input-user">
    </div>

    <div id="case-senha">
        <label id="label-senha" for="input-senha">Senha:</label>
        <input type="password" id="input-senha">
    </div>

    <div id="case-button">
        <button id="btLogin">Login</button>
    </div>

 </div>