@use '../../../../style/sass/global-class';
@use '../../../../style/sass/colors' as cor;
@use '../../../../style/sass/mixins' as mix;

$width_sideBar: 250px;

#container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* ========================= Side Bar ======================= */

    .sideBar_reduce{
        width: 35px;
        .btOption{
            justify-content: center;
            div{display: none;}
            span{
                @include mix.flex-center;
                width: 100%;   
            }
        }
        #user{
            #nameUser{display: none;}
            #btLogout{display: none}
            #iconUser{margin-left: 0;}
        }
        #sobre{display: none;}
    }
    .sideBar_normal{
        width: 250px;
        .btOption{
            justify-content: flex-start;
            span{
                @include mix.flex-center;
                margin-right: 10px;
                margin-left: 5px;        
            }
        }
    }

    #side-bar{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: cor.$background;
        transition: .3s;

        #buttonsCase{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        #requisicoes{display: none;}
        #estoque{display: none;}

        .btOption{
            border: none;
            border-bottom: 1px solid cor.$primary;
            background-color: rgba(0,0,0,0);
            margin-top: 5px;
            width: 100%;
            height: 35px;
            color: cor.$theme3;
            font: bold 13pt arial;
            padding: 15;
            display: flex;
            align-items: center;
            &:hover{opacity: 70%;}
        }
    }


    #mainCase{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #user, #sobre{
        width: 100%;
        height: 40px;
    }

    #user{
        background-color: cor.$emphasis_background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: cor.$theme3;

        &> div{
            display: flex;
            align-items: center;
            height: 100%;
        }

        #iconUser{
            width: 45px; 
            justify-content: center;
            margin-left: 6px;
            &:hover{
                opacity: 70%;
                cursor: pointer;
            }
        }
        #btLogout{
            width: 60px; 
            justify-content: center;
        }
        #nameUser{
            width: 100%; 
            justify-content: start;
            font: bold 10pt arial;
            margin-left: 5px;
            text-align: center;
        }
    }

    #logout{
        font-size: 10pt;
        height: 20px;
        width: 25px;
        border-radius: 3px;
        background-color: cor.$cancel;
        color: white;
        display: none;
        align-items: center;
        justify-content: center;
    }

/* ====================== Buttons Case ===================== */



/* ====================== Sobre ===================== */

    #sobre{
        border-top: solid 2px cor.$emphasis_background;
        @include mix.flex-center;
        font: italic 10pt arial;
        color: cor.$emphasis;
    }

    #btSobre{
        margin-left: 6px;
        width: 20px;
        height: 20px;
        background: none;
        color: cor.$emphasis;
    }

#welcomePage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    div{
        width: 80%;
        h1{
            font: bold 40pt arial;
            margin-top: 20px;
        }
        h3{
            font: normal 28pt arial;
        }
    }

    ul{
        font-size: 16pt;
        li{
            margin-bottom: 20px;
            &> ul{
                margin-top: 20px;
            }
        }
    }

}


#logoAdler{
    height: 60px;
    margin-top: 20px;
}
#caseImg{
    display: flex;
    justify-content: center;
}