 // Estilização da Tela de Login

    @use '../../../../sass/mixins' as mix;
    @use '../../../../sass/colors' as cor;

   
   #case{
      @include mix.flex-center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: 15px;

      #title{
         height: 10%;
         font-size: 30pt;
         font-weight: bold;
      }

      #body{
         height: 90%;
         width: 60%
      }
      .caseInput{
         @include mix.flex-center;
         flex-direction: column;
         align-items: flex-start;
         width: 100%;
         margin-top: 30px;

         #userTitle{
            font-size: 22pt;
            font-weight: bold;
         }

         &.UserData{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
            margin-top: 15px;

            label{
               margin-right: 5px;
               
            }

            #passlabel{
               font-size: 12pt;
            }

            &.bt{
               justify-content: flex-end;
               margin-top: 0;
            }

            #btSalvar{
               @include mix.button-class;
               background-color: cor.$primary;
               padding: 6px;
               color: white;
               width: 70px;
               
            }
            .input{
              margin: 0;
              padding: 0;
              @include mix.input-class;
              padding: 3px;
              font-size: 12pt;
              text-indent: 5px;
              width: 60%;
            }
         }

         #passView{
            & input {display: none;}
            & div {
                width: 13px;
                height: 13px;
                @include mix.flex-center;
                background-color: rgb(178, 178, 178);
                color:  #fff;
                margin-right: 5px;
                border-radius: 3px;
            }
            & input:checked + div{background-color: cor.$secondary;}
        }

         .bts{
            @include mix.button-class;

            color: white;
            background-color: cor.$secondary;

            width: 170px;
            height: 35px;
            margin-left: 5px;
        }

         #caseBt{
            margin-top: -34px;
            margin-left: 87.2%;
            .bt{
               font-size: 14pt;
               height: 34px;
               width: 35px;
               @include mix.button-class;
               border-bottom-left-radius: 0;
               border-top-left-radius: 0;
               border: 1px solid black;
               background-color: rgb(190, 190, 190);
            }
         }
         label{
            font-size: 14pt;
         }
         .input{
            width: 85%;
            padding-left: 50px;
            margin-top: 10px;
            
            &:disabled{
               @include mix.input-class;
               border-bottom-right-radius: 0;
               border-top-right-radius: 0;
               font-size: 12pt;
            }
         }
      }
   }
 