 <div id="case">

   <div id="title">Configurações</div>

   <div id="body">

      <div class="caseInput">
         <label for="DBpath">Local da Planilha da Base de Dados:</label>
         <input type="text" id="DBpath" class='input' disabled>
         <span id="caseBt">
            <button id="btDB" class="bt">...</button>
         </span>
      </div>

      <div class="caseInput">
         <label for="PDFpath">Local de Salvamento do PDF:</label>
         <input type="text" id="PDFpath" class='input' disabled>
         <span id="caseBt">
            <button id="btPDF" class="bt">...</button>
         </span>
      </div>

      <div class="caseInput">
         <button class="bts" id="btImport">Importar Dados</button>
      </div>

   </div>

 </div> 