 <div id="case">

   <div id="title">Configurações</div>

   <div id="body">
 
      <div class="caseInput">
         <label for="DBpath">Local da Planilha da Base de Dados:</label>
         <input type="text" id="DBpath" class='input' disabled>
         <span id="caseBt">
            <button id="btDB" class="bt">...</button>
         </span>
      </div>

      <div class="caseInput">
         <label for="PDFpath">Local de Salvamento do PDF:</label>
         <input type="text" id="PDFpath" class='input' disabled>
         <span id="caseBt">
            <button id="btPDF" class="bt">...</button>
         </span>
      </div>

      <div class="caseInput">
         <button class="bts" id="btImport">Importar Dados</button>
      </div>

      <div class="caseInput">
         <div id="userTitle">Atualizar Dados de Usuario</div>
      </div>

      <div class="caseInput UserData" >
         <label for="upUser">Usuário:</label>
         <input type="text" id="upUser" class='input' >
      </div>
      
      <div class="caseInput UserData" >
         <label for="Pass">Nova Senha:</label>
         <input type="password" id="NewPass" maxlength="8" class='input' >
      </div>

      <div class="caseInput UserData" >
         <label for="Pass">Senha Atual:</label>
         <input type="password" id="Pass" maxlength="8" class='input' >
      </div>

      <div class="caseInput UserData">
         <label for="checkbox" id="passView">
            <input type="checkbox" name="view" id="checkbox">
            <div><%- icons.check %></div>
         </label>
         <label for="checkbox" id="passlabel">Mostrar Senha</label>
      </div>

      <div class="caseInput UserData bt" >
         <button id="btSalvar" >Salvar</button>
      </div>

      

   </div>

 </div> 