// Variaveis de Cores

    $primary: #07A0C3;
    $secondary: #086788;

    $alert: #F0C808;
    $opacit: #FFF1D0;

    $success: #088839;
    $cancel: #DD1C1A;

    $red-close: rgb(238, 56, 56);

    $gray: #2f3241;
    $side-bar: #44485a;
    $gray2: #9c9c9c;

    $background: rgb(211, 211, 211);


    //Login Colors
    $login-background: $gray;//rgb(42, 56, 70);
    $login-primary: #00bfff;
    $login-secondary: #0468ff;
    $login-success: #32cd32;