// Variaveis de Cores

    $primary:               #E37714;
    $secondary:             #F38C23;
    $theme3:                #F09137;
    $theme4:                #FCA001;
    $theme5:                #FFC80B;
    $emphasis:              #171717;
    $opacit_background:     #ebebc6;
    $background:            #DDDDBB;
    $emphasis_background:   #b1b199;
    $white:                 #FFFFFF;

    $gray: #7a7a7a;
    $cancel: #DD1C1A;


    //Login Colors
    $login-background: rgb(42, 56, 70);
    $login-primary: #00bfff;
    $login-secondary: #0468ff;
    $login-success: #32cd32;