@use '../sass/mixins' as mix;
@use '../sass/colors' as cor;

.nav{
    height: 31px;
    background-color: cor.$emphasis;
    display: flex;
    color: cor.$white;
    font: normal 11pt arial; 
    display: flex;

    & > div{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        padding-left: 9px;
    }
    
}

#Nav_butons{
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
    
    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 33px;
    }
}

#icon{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 2px;
    top: 2.5px;
}

#ico-max{
    width: 12px;
    height: 12px;
}

#ico-close{
    width: 25px;
    height: 25px;
}


#ico-min, #ico-max, #ico-close{
    @include mix.flex-center;
    color: cor.$white;
}

#butonNav:hover{
    background-color: cor.$gray;
}
#butonClose:hover{
    background-color: cor.$cancel;
}

#logo{
    width: 30px;
}

#imgLogo{
    width: 17px;
}

