<div id="case">

    <div id="caseBts">
        <button class="bts" id="btImport">Importar Dados</button>
        <button class="bts" id="btPlanilha">Gerar Planilha</button>
    </div>

    <div id="caseTable">
        
    </div>
    
</div>